#canvas {
    width: 100%;
}

#preset-definitions {
    display: none;
}

#view {
    position: relative;
}

#overlay {
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.5);
}